<!DOCTYPE html>
<html>
  <head>
    <title>Dkrss</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <%= link_to "DKRSS", root_url, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toogle" data-toggle="dropdown">Сайты <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% Site.all.each do |site| %>
                <li><%= link_to site.name, site_feeds_url(site) %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "Настройка сайтов", sites_url %></li>
        </ul>
      </div>
    </nav>
    <div class="page-header visible-desktop">

  </div>
    <div class="container">
      <div class="page-header">
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>&copy; DeKoniX 2013</p>
    </footer>
  </body>
</html>
